<%- include('../../shared/includes/head', {pageTitle: 'Signup'}) %>

<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">

</head>
<body>
<%- include('../../shared/includes/header') %>
<main>
    <h1>All products</h1>
    <p></p>

</main>
<%- include('../../shared/includes/footer') %>